{% extends "base.html" %}

{% block content %}

<h1>Login</h1>

{% if error %}
    <p>{{ error }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}

    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>

    <button type="submit">Login</button>
</form>

<p>
    Belum punya akun?
    <a href="{% url 'profile:register' %}">Register</a>
</p>

{% endblock %}